beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.5
chromadb==1.5.5
cloudinary==1.44.1
click==8.3.1
decorator==5.2.1
fastapi==0.135.1
httpcore==1.0.9
httpx==0.28.1
idna==3.11
Jinja2==3.1.6
langchain==1.2.13
langchain-chroma==1.1.0
langchain-community==0.4.1
langchain-core==1.2.18
langchain-text-splitters==1.1.1
lxml==6.0.2
MarkupSafe==3.0.3
numpy==2.4.3
pandas==3.0.1
pillow==12.1.1
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-multipart==0.0.22
requests==2.32.5
requests-toolbelt==1.0.0
soupsieve==2.8.3
SQLAlchemy==2.0.48
starlette==0.52.1
typing_extensions==4.15.0
tzdata==2025.3
unstructured==0.18.32
urllib3==2.6.3
uvicorn==0.41.0
watchfiles==1.1.1
svix==1.31.0
datasets
PyJWT==2.10.1
